.form input {
    padding: 8px;
    border: 1px solid rgb(7, 96, 180);
    border-radius: 4px;
    background-color: rgb(203, 239, 245);
    width: 250px;
    transition: all 0.5s linear;
}

.form input:hover {
    background-color: rgb(136, 191, 201);
    transform: scale(1.03);
    transition: all 0.5s linear;
}